<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/public/style.css">
    <!-- Include DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

<!-- Include jQuery and DataTables JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>



</head>
<body>
    <header>
        <ul>
          <li><a href="/">Dashboard</a></li>
          <li><a href="/users">Users</a></li>
          <li><a href="/bot-config">Bot Configurations</a></li>
          <li><a href="/daily-tasks">Daily Tasks</a></li>
          <li><a href="/transactions">Transactions</a></li>
          <li><a href="/channels">Bot Channels</a></li>
        </ul>
        <ul>
          <li><a href="/logout">Logout</a></li>
        </ul>
    </header>
    
    <div style="width: 80%; margin: 0 auto;">
        
        <div class="cards">
            <div class="card">
                <span>Task 1</span>
                <span><%=tasks[0].users %></span>
            </div>
            <div class="card">
                <span>Task 2</span>
                <span><%=tasks[1].users  %></span>
            </div>
            <div class="card">
                <span>Task 3</span>
                <span><%=tasks[2].users  %></span>
            </div>
        </div>
        <div>
            <a href="/export-Taskers" style="margin-top: 20px;">Export All Users</a>
        </div>
        <table id="userTable">
            <thead>
              <tr>
                <th>Telegram Username</th>
                <th>Task</th>
                <th>Date</th>
              </tr>
            </thead>
            <tbody>
              <% taskers.forEach(user => { %>
                <tr>
                  <td><%= user.username %></td>
                  <td><%= user.question %></td>
                  <td><%= user.Date %></td>
                  
                </tr>
              <% }) %>
            </tbody>
          </table>
        <div>
            <a href="/export-logs" style="margin-top: 20px;">Export All Logs</a>
        </div>
        <canvas data-users = "<%= JSON.stringify(users) %>" id="usersChart"></canvas>
        <canvas data-users = "<%= JSON.stringify(activities) %>" id="activitiesChart"></canvas>
    </div>

    <script>
          $(document).ready(function() {
      $('#userTable').DataTable();
    });
        const jsondata = document.querySelector("#usersChart").dataset.users;
        const data = JSON.parse(jsondata)
        console.log(data)
        const labels = data.map(item => item.date);
        const usersData = data.map(item => item.users);

        const ctx = document.getElementById('usersChart').getContext('2d');
        const chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Number of Users',
                    data: usersData,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    fill: true,
                    tension: 0.1
                }]
            },
            options: {
                scales: {
                    x: {
                        type: 'category',
                        title: {
                            display: true,
                            text: 'Date'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Number of Users'
                        }
                    }
                }
            }
        });


        const activitydata = document.querySelector("#activitiesChart").dataset.users;
        const activities = JSON.parse(activitydata)
        console.log(activities)
        const labels2 = activities.map(item => item.date);
        const impressions = activities.map(item => item.impressions);

        const ctx2 = document.getElementById('activitiesChart').getContext('2d');
        const chart2 = new Chart(ctx2, {
            type: 'line',
            data: {
                labels: labels2,
                datasets: [{
                    label: 'Number of Impressions',
                    data: impressions,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    fill: true,
                    tension: 0.1
                }]
            },
            options: {
                scales: {
                    x: {
                        type: 'category',
                        title: {
                            display: true,
                            text: 'Date'
                        }
                    },
                    y: {
                        title: {
                            display: true,
                            text: 'Number of Impressions'
                        }
                    }
                }
            }
        });
    </script>
</body>
</html>
